<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
  #container{
        font-size: 20px;
        font-weight: 300;
        margin-left: 10px;
    }

</style>
<body>
   <div id="container">
    <a href="/allusers"  class="mb-3"  class="btn btn-primary"> showall accounts </a>
    <div class="card"  style="width: 18rem;">
       
        <div class="card-body">
          <h5 class="card-title">  name: <%= foundUser.name %></h5>
          <p class="card-text"> email: <%= foundUser.email %> </p>
          <p class="card-text">username: <%= foundUser.username %> </p>
          <a href="/logout"   class="btn btn-primary mt-2" > logout me </a> <br>
          <a href="/delete/<%= foundUser.id %>"   class="btn btn-warning mt-2" > Delete </a><br>
       <br>
      
        </div>
      </div>
   </div>

</body>
</html>
